.titles {
	font-weight: normal;
	font-size: 24px;
	text-decoration: none;
}
.search_bg {
	margin-bottom: 10px;
}
.nav ul {
	position:absolute;
	top:-999em;
	padding-top: 3px;
}
.nav li li:hover ul, ul.nav li li.sfHover ul {
	left:230px;
	top:-4px !important;
}