.thumbnail-div .sections-overlay { background-image: url(images/thumbnail-overlay-2.gif); }

.sections-overlay { background-image: url(images/readmore-bg-2.gif); background-position: 269px 120px; background-repeat: no-repeat; }

.readmore { background-image: none; background-color: #000; }

#logobg { height: 1%; }