.random-content { width: 200px !important; }
.home-post-wrap { margin-left: -5px !important; }
.search_bg { margin-bottom: 10px; }
.commentlist { width: 560px !important; overflow: hidden; margin-left: 8px !important; }
.commentlist .children li { width: 85% !important; }
#pages { margin-left: -40px; }