#header { background:url("images/radiate/radiate-bg.png") repeat-x scroll 0 0 #232323; }
	#header-inner { background: url(images/radiate/header-bg.jpg) no-repeat top center; }
	ul#primary-menu a span { color:#e9e7b9; }