.home-post-wrap {
	margin-left: -5px !important;
}
#pages li a:hover {
	background-image: none !important;
	color: #FFF !important;
}
.random-content {
	width: 200px !important;
}
.random-image {
	margin-left: 0px !important;
}
.commentlist {
	width: 560px !important;
	overflow: hidden;
	margin-left: 7px !important;
}
.commentlist .children li {
	width: 85% !important;
}