#sidebar-wrapper { margin-right: 3px; margin-left: -14px; }
#content-wrapper { width: 665px !important; }
.search_bg { margin-bottom: 10px; }
#header { margin-top: 35px !important; margin-bottom: 35px !important; }
.commentlist { width: 560px !important; overflow: hidden; margin-left: 8px !important; }
.commentlist .children li { width: 85% !important; }
.nav li li { width: 240px; }
.nav li ul { width: 240px; }