	#menu { background: url(images/light-green/menu-bg.png) repeat-x; }
		#content { background: url(images/light-green/content-bg.png) repeat-x bottom left; }
			.block-border {background:url(images/light-green/block-top-bg.png) repeat-x;}
							.entry-content p.meta-info span {color:#99b775;}
					#slogan span {color: #e3e3e3;}