.featured-info { background-color: #000; background-image: none !important; }
.sidebar-box ul { margin-left: 45px; }
.about { margin-left: 15px; }
.featured-item { margin-left: 15px !important; }
.h3-titles { width: 280px !important; }
.nav ul li { width: 400px !important; }
.nav li li a:link, .nav li li a:visited { width: 400px !important; }
.commentlist { width: 560px !important; overflow: hidden; }
.commentlist .children li { width: 85% !important; }