#wrap-admin {
	margin: 0px;
	width: 900px;
	float: left;
	color: #666666;
}
input.pick {
	margin: 3px 0px;
	padding: 0px;
	float: left;
	height: 20px;
	width: 50px;
}
#wrap-admin form {
	border-width: 0px!important;
	border-style: none!important;
}
html {
	line-height: 125%;
}
#wrap-admin em {
	font-style: italic;
}

#content-admin {
	margin: 0px;
	width: 100%;
	float: left;
	padding-bottom: 3em;
	padding-top: 1em;
	border-width: 0px;
	border-style: none;
}
#top-content-admin {
	margin: 0px;
	width: 100%;
	float: left;
	padding: 0px;
}
#wrap-admin #top-content-admin h4 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0px 0px 1em;
	padding: 3px 0px 3px 40px;
	float: left;
	width: 860px;
	border-width: 0px!important;
	border-style: none!important;
	background: url(tools.png) no-repeat left center;
	height: 31px;
	font-family: Georgia, serif;
	line-height: 31px;
}
#content-admin h5 {
	font-size: 1.35em;
	margin: 0px;
	padding: 0px;
	color: #333333;
	float: left;
	width: 100%;
	font-family: Georgia, serif;
	font-weight: normal;
	text-transform: uppercase;
}
#content-admin h6 {
	font-size: 1.25em;
	margin: 0px 0px 10px;
	padding: 0px;
	font-weight: normal;
}
#wrap-admin #top-content-admin p {
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	font-size: 11px;
	border-width: 0px!important;
	border-style: none!important;
	font-family: Verdana, sans-serif;
}
#content-admin .onlyjpg {
	color: #999999!important;
	font-size: 11px;
	margin: 10px 0px 2em;
	font-style: italic;
	font-family: "Lucida Grande", "Lucida Sans", sans-serif;
}
#content-admin .option-box {
	margin: 0px 0px 2em;
	float: left;
	width: 100%;
	padding: 0px;
}
#content-admin .option-wrap {
	margin: 0px;
	padding: 2%;
	float: left;
	width: 96%;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-khtml-border-radius-bottomright: 10px;
	-webkit-border-radius-bottomleft: 10px;
	-webkit-border-radius-bottomright: 10px;
	border-radius-bottomleft: 10px;
	border-radius-bottomright: 10px;
	background: #FFFFFF;
}


#upload-panel h4 {
	font-size: 14px;
	margin: 0em;
	padding: 0px 2%;
	float: left;
	width: 96%;
	line-height: 30px;
	color: #FFFFFF;
	background: #777;
	height: 30px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-khtml-border-radius-topleft: 10px;
	-khtml-border-radius-topright: 10px;
	-webkit-border-radius-topleft: 10px;
	-webkit-border-radius-topright: 10px;
	border-radius-topleft: 10px;
	border-radius-topright: 10px;
	border: 1px solid #ddd;
	font-weight: normal;
}

.option-box h4 {
	font-size: 13px;
	margin: 0em;
	padding: 0px 2%;
	float: left;
	width: 96%;
	line-height: 30px;
	color: #555;
	background: #e6e6e6;
	height: 30px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-khtml-border-radius-topleft: 10px;
	-khtml-border-radius-topright: 10px;
	-webkit-border-radius-topleft: 10px;
	-webkit-border-radius-topright: 10px;
	border-radius-topleft: 10px;
	border-radius-topright: 10px;
	border: 1px solid #ddd;
}
.option-box h2 {
	font-size: 15px;
	margin: 1em 0px;
	padding: 5px 0px 5px 22px;
	float: left;
	width: 96%;
	color: #393939;
	line-height: 25px;
	font-weight: normal;
	border-bottom: 1px solid #eee;
	background: url(panel.png) no-repeat left center;
	height: 25px;
}
#content-admin #main-setting {
	background: #ECF3D1;
}
#content-admin .upz {
	padding: 2px;
	background: #FFFFFF!important;
	border: 1px solid #CCCCCC;
	width: 300px;
	margin: 0px 0px 2px;
	clear: right;
}
#photo p {
	margin: 10px 0px 0px;
	padding: 0px;
	float: left;
	width: 100%;
}
.admin-layer {
	margin: 0px 10px 0px 0px;
	padding: 0px;
	float: left;
	width: 31%;
}
.option-box p {
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	font-weight: normal;
	line-height: 16px;
}
.option-box .pwrap {
	margin: 0px;
	padding: 5px 0px 5px;
	float: left;
	width: 100%;
}
.option-box .pwrap p {
	font-weight: 400;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 16px;
	padding-bottom: 5px;
}
.ops-text {
	margin: 0px 0px 10px;
	padding: 6px 3px;
	float: left;
	width: 93%;
	background: #FFFFFF;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.4em;
	border: 1px solid #CCCCCC;
}
#resetall {
	margin: 0px;
	padding: 2em 0px 0px;
	float: left;
	width: 100%;
}
.ops-colour {
	margin: 0px 10px 0px 0px;
	padding: 5px 2px;
	float: left;
	width: 93%;
	background: #FFFFFF;
	font-size: 11px;
	font-weight: normal;
	border: 1px solid #CCCCCC;
}
.ops-select {
	margin: 0px 0px 10px;
	padding: 5px 2px;
	float: left;
	width: 90%;
	background: #FFFFFF;
	font-size: 11px!important;
	font-weight: normal;
	border: 1px solid #CCCCCC;
	color: #666666;
}
.ops-area {
	margin: 0px;
	padding: 5px 2px;
	float: left;
	width: 93%;
	background: #FFFFFF;
	font-size: 12px;
	height: 150px;
	font-weight: normal;
	line-height: 1.4em!important;
	border: 1px solid #CCCCCC;
}

.admin-ops {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
}

#option-mz-form {
	margin: 0px;
	padding: 0px 0px 2px;
	float: left;
	width: 100%;
	border-width: 0px!important;
	border-style: none!important;
}
#wrap-admin .submit {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	border-width: 0px!important;
	border-style: none!important;
}
#wrap-admin .saveme {
	font-size: 11px;
	font-weight: bold;
	margin: 8px 0px 0px;
	float: left;
	background: #EAEAEA;
	padding: 2px 6px;
	border-top: 1px solid #999999;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #999999;
	color: #333333;
}
#post-reset {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
}
#wrap-admin .explain {
	font-size: 10px;
	line-height: 20px;
	margin: 0px;
	padding: 5px 0px;
	float: left;
	width: 100%;
	color: #660000;
}


#ColorPickerDiv 
{
    display: block;
    display: none;
    position: relative;
    border: 1px solid #777;
    background: #fff
}

#ColorPickerDiv TD.color
{
	cursor: pointer;
	font-size: xx-small;
}
#ColorPickerDiv TD.color label
{
	cursor: pointer;
}

.ColorPickerDivSample
{
	margin: 5px 0px 0px;
	border: solid 1px #000;
	padding: 0px 10px;
	position: relative;
	cursor: pointer;
	float: left;
	width: 32px;
}
#crop-img h4 {
	font-size: 17px;
	margin: 0px 0px 15px;
	padding: 0px;
	float: left;
	width: 100%;
}
#crop-img img {
	margin: 0px 0px 15px;
	padding: 0px;
	float: left;
	height: auto;
	width: 100%;
}
.uperror {
	font-size: 14px!important;
	font-weight: bold!important;
	color: #990000!important;
}
#gala {
	margin: 0px;
	padding: 0px 0px 2em;
	float: left;
	width: 100%;
}
.gallery-box {
	margin: 0px 0px 10px;
	padding: 1%;
	float: left;
	width: 95%;
	background: #e4f2fd;
}
.gallery-box p {
	margin: 0px;
	padding: 15px 0px 0px;
	float: left;
}
.gallery-box .ops-text {
	margin: 0px 10px 0px 0px;
	padding: 3px 2px;
	float: left;
	width: 600px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	font-size: 12px;
	color: #000000;
}
.gallery-box .img-left {
	margin: 0px 10px 0px 0px;
	padding: 0px;
	float: left;
}
.submit-button {
	padding: 2px 4px;
	margin: 0px;
	-moz-border-radius-bottomleft: 3px;
	-khtml-border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-khtml-border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #333333;
	border: 1px solid #4988B6;
	font-family: "Lucida Grande", Arial, Verdana, "Trebuchet MS";
	font-size: 12px;
	font-weight: bold;
	background: #EAEAEA;
}.timg {
	margin: 0px 0px 15px;
	padding: 0px;
}



h4#loading-bar {
	background: url(loading.gif) no-repeat 15px center!important;
	margin: 5em 0px 0px!important;
	padding: 50px 0px 50px 145px!important;
	float: left!important;
	width: 80%!important;
	font-size: 25px!important;
}

/* 12852-1333369299 */