body { background: url(images/purple/body-bg.png); }
.content-bottom { background: url(images/purple/content-bottom-bg.png) no-repeat; }
.wp-pagenavi { background: url(images/purple/pagination_bg.png) no-repeat top center; }